<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link href="/assets/bootstrap.css" rel="stylesheet" type="text/css">
		<style type="text/css">
body{padding-top: 60px;}
		</style>
		<link href="/assets/bootstrap-responsive.css" rel="stylesheet" type="text/css">
		<link href="/assets/bwizard.min.css" rel="stylesheet" type="text/css">
		<link href="/assets/jasny-bootstrap.css" rel="stylesheet" type="text/css">
		<!--link href="/assets/lightbox.css" rel="stylesheet" type="text/css"-->
		<link href="/assets/fu.css" rel="stylesheet" type="text/css">
		<script src="/assets/jquery.min.js" type="text/javascript">
</script>
		<script src="/assets/bootstrap.js" type="text/javascript">
</script>
		<script src="/assets/jasny-bootstrap.js" type="text/javascript">
</script>
		<script src="/assets/bwizard.js" type="text/javascript">
</script>
		<script src="/assets/burse/jquery.fu.js" type="text/javascript">
</script>

</script>
		<script src="/assets/burse/iframe.js" type="text/javascript">
</script>
		
		<title></title>
	</head>
	<body>
        <%= form_for(@application) do |f|%> 
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Burse</a>
					<div class="nav-collapse collapse nav-bar-inverse-collapse">
						<ul class="nav pull-right">
							<li>
								<a onclick="showModal()">Metodologie</a>

							</li>
							<li>
								<a href="../logout">Iesire</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container-narrow">
			<div class="masthead">
				<h4 class="title">
  				
  				<% case params[:scholarship_id] %>
					<% when "1" %>  
					<p>Bursa de perfomanta</p>
					<% when "2" %>  
					<p>Bursa de studiu/merit</p>
					<% when "3" %>  
					<p>Bursa sociala</p>
					<% when "4" %> 
					 <p>Bursa sociala ocazionala</p>
					<% when "5" %> 
					 <p>Bursa medicala</p>
					<% when "6" %>  
					<p>Bursa sociala orfan</p>
					
				<% end %>
  				
				</h4>
			</div>
			<div id="wizard">
				<ol class="three-steps">
					<li>Date personale
					</li>
					<li>Upload documente
					</li>
					<li>Finalizare
					</li>
				</ol>
				<div class="span12">
					<table class="table table-striped">
						<tr>
							<th>
								Nume:
							</th>
							<td>
								<%= @result["user"]["last_name"] %>
							</td>
						</tr>
						<tr>
							<th>
								Prenume:
							</th>
							<td>
								<%= @result["user"]["first_name"] %>
							</td>
						</tr>
						<tr>
							<th>
								Domeniu:
							</th>
							<td>
								Matematica-Informatica
							</td>
						</tr>
						<tr>
							<th>
								Specializarea:
							</th>
							<td>
								Informatica
							</td>
						</tr>
						<tr>
							<th>
								Anul:
							</th>
							<td>
								<%= @result["user"]["group"]["year"].to_s %>
							</td>
						</tr>
						<tr>
							<th>
								Grupa:
							</th>
							<td>
								<%= @result["user"]["student"]["group_id"].to_s %>
							</td>
						</tr>
						<tr>
							<th>
								Media:
							</th>
							<td>
								10
							</td>
						</tr>
						<tr>
							<th>
								Numarul de credite:
							</th>
							<td>
								40
							</td>
						</tr>
						<tr>
							<th>
								CNP:
							</th>
							<td>
								<%= @result["user"]["cnp"] %>
							</td>
						</tr>
						<tr>
							<th>
								BI/CI seria si numarul:
							</th>
							<td>
								<%= @result["user"]["ic_serie"] %> <%= @result["user"]["ic_number"] %>
							</td>
						</tr>
						<tr>
							<th>
								Card
							</th>
							<td>
                                <%= f.select :on_card, [['Nu', 0], ['Da', 1]] %>                 
								<div id="IBAN" style="display:block"> <b>&nbsp; IBAN:</b> 5123412</div>
							</td>
						</tr>
						<tr>
							<th>
								Motive
							</th>
							<td>
                                <%= f.text_area :reason, :cols => 40, :rows => 5 %>
							</td>
							<td id="reasons" style="color:red">
								* Introduceti motivele
							</td>
						</tr>
					</table>
					<div class="info">
						<a class="text-error pull-right" href="account">Modifica date</a>
					</div>
					<div class="clearfix"></div>
					<form>
						<label class="checkbox"><%= check_box_tag 'checkbox', 'disabled' %> Datele sunt corecte</label><br>
						<br>
					</form>
				</div>
				<ul class="pager bwizard-buttons">
					<li class="next disabled" id="btn-fake" role="button">
						<a class="btn disabled">Urmatorul pas →</a>
					</li>
				</ul>
				<div class="span12">
					<!--single upload
					<div class="fileupload fileupload-new" data-provides="fileupload">
					<span class="btn btn-file btn-info btn-file-big"><span class="fileupload-new"><h3>Alege fisier</h3></span><span class="fileupload-exists">Schimba</span>
						<input type="file" /></span>
					<span class="fileupload-preview"></span>
					<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
					</div>
				-->
					<!--multiple upload-->
					<div class="span6">
						<h4>
							Tips
						</h4>
						<p>
							Pentru a face upload de documente trebuie sa alegi fiecare fisier in parte apasand pe butonul "Alege fisier".
						</p>
						<p>
							Dupa ce fisierele au fost alese vei avea posibilitatea sa le stergi sau modifici din lista care va aparea
						</p>
						<p>
							Dupa ce ai ales toate fisierele apasa pe butonul "Upload fisier"
						</p>
					</div>
					<div class="span3 offset2 burse-wizzard">
						<div id="manual-fine-uploader"></div>
						<div id="triggerUpload" class="btn btn-primary" style="margin-top: 10px;">
							<i class="icon-upload icon-white"></i>	Upload
						</div>
						
					</div>
					<div class="clearfix"></div>
				</div>
				<div>
					<h4 class="text-success">
						Cererea poate fi depusa.
						<%= f.hidden_field :user_id, :value => @current_user.id %>
                        <%= f.hidden_field :submission_date, :value => Date.today.to_s %>
                        <%= f.hidden_field :status, :value => "In asteptare" %>
                        <%= f.hidden_field :scholarship_id, :value => @scholarship_id %>
                    </h4>
                        <%# logger.info("USER ID = " + @current_user.id.to_s + " app.USER_ID= ")%>
                        <ul class="pager" style="z-index:2">
                        		<a style="position:absolute; left:626px; bottom:1px">
                        		<%= f.submit "Depune cererea", :class => 'btn bwizard-buttons next' %>
                        		</a>
                    	</ul>			
				</div>
			</div>
		</div>
		<div class="modal hide fade" id="metodologieModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3>
					Descriere metodologie
				</h3>
			</div>
			<div class="modal-body">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal" aria-hidden="true">OK</button>
			</div>
		</div>
		<div class="bottom-logo">
			<img src="/assets/logo.png" width="150px" height="150px">
		</div>
		
		
		<script type="text/javascript">

		$("#wizard").bwizard();
		</script>
		
		<script type="text/javascript">
		 
		$(document).ready(function() {
		
		var globalManualUploader  = new qq.FineUploader({
		element: $('#manual-fine-uploader')[0],
		request: {
		endpoint: 'http://localhost:3000/upload/handler' 
		},
		autoUpload: false,
		debug: true,
		text: {
		uploadButton: '<i class="icon-plus icon-white"><\/i> Alege Fisierul'
		},
		template: '<div class="qq-uploader">' +
'<pre class="qq-upload-drop-area"><span>{dragZoneText}</span></pre>' +
'<div class="qq-upload-button btn btn-info" style="width: auto;">{uploadButtonText}</div>' +
'<span class="qq-drop-processing"><span>{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>' +
'<ul class="qq-upload-list" style="margin-top: 10px; text-align: center;"></ul>' +
'</div>',
		});

	        $('#triggerUpload').click(function() {
		  
		//var uploadedFileNames =  $('.qq-upload-file').text();
		//alert("yes"+uploadedFileNames);
		globalManualUploader.uploadStoredFiles();
		});
		
		$('#IBAN').hide();
		if ($("#checkbox").attr('checked'))
		{
			//$('.next').removeAttr("disabled");
			//alert("show");
		}
		else
		{
			$('.next').addClass("disabled");
			$('#reasons').hide();
			//alert("hide");
		}
		
		
		$('#application_on_card').change(function(){
		var vcard=$('#application_on_card :selected').val();
			if (vcard=="1")
			{
				$('#IBAN').show();
			}
			else 
			{
				$('#IBAN').hide();
			}
		});
		

		$('#checkbox').click(function() {
		if (($("#checkbox").is(':checked')))
		{
			if (($(".textarea").val() != ''))
			{
			$('.next').show();
			//$('.previous').show();
			$('.next').removeClass("disabled");
			$('#reasons').hide();
			}
			else {
				$('#checkbox').attr('checked', false);
				$('#reasons').show();
			}
		}
		else { 
		$('.next').hide();
		$('#btn-fake').show();
		}
		});
		


		});

               
		</script>

		
		<script type="text/javascript">
		//$("#wizard").bwizard();

		function showModal(){
		  $("#metodologieModal").modal('show');
		}
		
		$(".modalButton").click(function(){
		var id = this.id;
		var modalNou = '#modal' + id;
		$(modalNou).modal('show');
		});

		</script>
		<% end%>
	</body>
</html>

