<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @application.id %>
</p>

<p>
  <b>Submission date:</b>
  <%= @application.submission_date %>
</p>

<p>
  <b>Approval date:</b>
  <%= @application.approval_date %>
</p>

<p>
  <b>Status:</b>
  <%= @application.status %>
</p>

<p>
  <b>Reason:</b>
  <%= @application.reason %>
</p>


<p>
  <b>Scholarship_id:</b>
  <%= @application.scholarship_id %>
</p>

<p>
  <b>On_card:</b>
  <%= @application.on_card %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
